# Ignore Gradle project-specific cache directory
.gradle
.cursor
.vscode
.claude
example
gradle
lib
reference
working
claude.md
gradlew
gradlew.bat
fullbuild.sh
settings.gradle.kts

# Ignore Gradle build output directory
build
